<div
  [ngClass]="direction === 'A' ? 'dir-across' : 'dir-down'">
  <div
    *ngFor="let row of game.board"
    class="board-row">
    <div *ngFor="let tile of row"
         class="tile"
         [class.tile-invalid]="tile.value === -1"
         [class.selected-clue]="tile.getClues().indexOf(selectedClue) > -1"
         [class.selected-tile]="tile === selectedTile"
         (click)="onTileSelected(tile)"
    >
      <span class="tile-number"
      [class.selected-first-letter]="selectedClue && selectedClue.position.isEqualTo(tile.position)"
      >
        {{tile.displayNumber}}
      </span>
    </div>
  </div>
</div>
